<% provide :title, @user.name %>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title text-align-center"><%= @user.name %></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div align="center">
              <%= image_tag "logo.jpg", class: "img-circle col-md-3 col-lg-3",
                alt: t(".user_picture") %>
            </div>
            <div class=" col-md-9 col-lg-9 ">
              <table class="table table-user-information">
                <tbody>
                  <tr>
                    <td><%= t ".name_lb" %></td>
                    <td><%= @user.name %></td>
                  </tr>
                  <tr>
                    <td><%= t ".email_lb" %></td>
                    <td><%= @user.email %></td>
                  </tr>
                  <tr>
                    <td><%= t ".address_lb" %></td>
                    <td><%= @user.address %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="panel-footer">
            <span class="pull-right">
              <% if current_user? @user %>
                <%= link_to edit_user_path, "data-original-title": t(".edit_user_txt"),
                  "data-toggle": "tooltip", "type": "button", class: "btn btn-sm btn-warning" do %>
                  <i class="glyphicon glyphicon-edit"></i>
                <% end %>
              <% end %>
              <% if can_delete? @user %>
                <%= link_to admin_user_path(@user), "data-original-title": t(".delete_user_txt"),
                "data-toggle": "tooltip", "type": "button", class: "btn btn-sm btn-danger", method: :delete, data: { confirm: t("you_sure") } do %>
                  <i class="glyphicon glyphicon-remove"></i>
                <% end %>
              <% end %>
            </span>
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag "show_user.js" %>
