<h4>
  <%= t ".created" %>
  <strong><%= l @order.created_at, format: :long %></strong>
</h4>
<h4>
  <%= t ".status" %>
  <strong><%= @order.status %></strong>
  <% if can_edit? %>
    <%= link_to admin_order_path(@order, status: 1),
      "data-original-title": t(".accept"),
      "data-toggle": "tooltip", "type": "button",
      class: "btn btn-sm btn-success", method: :patch, remote: true do %>
      <i class="glyphicon glyphicon-ok"></i>
    <% end %>
    <%= link_to admin_order_path(@order, status: 2),
      "data-original-title": t(".reject"),
      "data-toggle": "tooltip", "type": "button",
      class: "btn btn-sm btn-danger", method: :patch, remote: true do %>
      <i class="glyphicon glyphicon-remove"></i>
    <% end %>
  <% end %>
</h4>
<h4>
  <%= t ".updated" %>
  <strong><%= l @order.updated_at, format: :long %></strong>
</h4>
