<%= provide :title, t(".title") %>
<h1><%= t ".header" %></h1>
<h4>
  <%= t ".created" %>
  <strong><%= l @order.created_at, format: :long %></strong>
</h4>
<h4>
  <%= t ".status" %>
  <strong><%= @order.status %></strong>
</h4>
<h4>
  <%= t ".updated" %>
  <strong><%= l @order.updated_at, format: :long %></strong>
</h4>
<div class="well">
  <table class="table">
    <thead>
      <tr>
        <th class="text-center"><%= t ".product_name_text" %></th>
        <th class="text-center"><%= t ".product_quantity_text" %></th>
        <th class="text-center"><%= t ".product_unit_price_text" %></th>
        <th class="text-center"><%= t ".product_total_text" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "item", collection: @order.order_products %>
      <tr>
        <td><h3><%= t ".total_price" %></h3></td>
        <td></td>
        <td></td>
        <td class="text-right"><h3><strong><%= number_to_currency @order.total_price %></strong></h3></td>
      </tr>
    </tbody>
  </table>
</div>
