<%= provide :title, t(".title") %>
<h1><%= t ".header" %></h1>
<div class="current-order">
  <%= render "order_info" %>
</div>
<div class="well">
  <table class="table">
    <thead>
      <tr>
        <th class="text-center"><%= t ".product_name_text" %></th>
        <th class="text-center"><%= t ".product_quantity_text" %></th>
        <th class="text-center"><%= t ".product_unit_price_text" %></th>
        <th class="text-center"><%= t ".product_total_text" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "item", collection: @order.order_products %>
      <tr>
        <td><h3><%= t ".total_price" %></h3></td>
        <td></td>
        <td></td>
        <td class="text-right"><h3><strong><%= number_to_currency @order.total_price %></strong></h3></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
