<% provide :title, @product.name %>

<div class="container">
  <div class="card">
    <div class="container-fluid">
      <div class="wrapper row">
        <div class="preview col-md-5">
          <div class="preview-pic tab-content">
            <div class="tab-pane active" id="pic-1"><%= image_tag "framgia.png" %></div>
            <div class="tab-pane" id="pic-2"><%= image_tag "framgia.png" %></div>
            <div class="tab-pane" id="pic-3"><%= image_tag "framgia.png" %></div>
            <div class="tab-pane" id="pic-4"><%= image_tag "framgia.png" %></div>
            <div class="tab-pane" id="pic-5"><%= image_tag "framgia.png" %></div>
          </div>
          <ul class="preview-thumbnail nav nav-tabs">
            <li><a data-target="#pic-1" data-toggle="tab"><%= image_tag "framgia.png" %></a></li>
            <li><a data-target="#pic-2" data-toggle="tab"><%= image_tag "framgia.png" %></a></li>
            <li><a data-target="#pic-3" data-toggle="tab"><%= image_tag "framgia.png" %></a></li>
            <li><a data-target="#pic-4" data-toggle="tab"><%= image_tag "framgia.png" %></a></li>
            <li><a data-target="#pic-5" data-toggle="tab"><%= image_tag "framgia.png" %></a></li>
          </ul>
        </div>
        <div class="details col-md-6">
          <h3 class="product-title"><%= @product.name %></h3>
          <p class="product-description"><%= @product.description %></p>
          <h4 class="price"><%= t ".inventory" %> <span><%= @product.quantity %></span></h4>
          <h4 class="price"><%= t ".price" %> <span><%= number_to_currency @product.price %></span></h4>
          <div class="pull-left">
            <input name="quantity" type="number" class="form-control text-center" value="1" min="1">
            <%= link_to t("add_to_cart"), "#", class: "add-to-cart btn btn-default" %>
            <span> <%= link_to t("edit"), edit_admin_product_path(@product), class: "edit-product btn btn-default" if can_edit? %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
