<% provide :title, @product.name %>

<div class="container">
  <div class="card">
    <div class="container-fluid">
      <div class="wrapper row">
        <div class="preview col-md-5">
          <div class="preview-pic tab-content">
            <div class="tab-pane active" id="pic-1"><%= image_tag "framgia.png" %></div>
            <div class="tab-pane" id="pic-2"><%= image_tag "framgia.png" %></div>
            <div class="tab-pane" id="pic-3"><%= image_tag "framgia.png" %></div>
            <div class="tab-pane" id="pic-4"><%= image_tag "framgia.png" %></div>
            <div class="tab-pane" id="pic-5"><%= image_tag "framgia.png" %></div>
          </div>
          <ul class="preview-thumbnail nav nav-tabs">
            <li><a data-target="#pic-1" data-toggle="tab"><%= image_tag "framgia.png" %></a></li>
            <li><a data-target="#pic-2" data-toggle="tab"><%= image_tag "framgia.png" %></a></li>
            <li><a data-target="#pic-3" data-toggle="tab"><%= image_tag "framgia.png" %></a></li>
            <li><a data-target="#pic-4" data-toggle="tab"><%= image_tag "framgia.png" %></a></li>
            <li><a data-target="#pic-5" data-toggle="tab"><%= image_tag "framgia.png" %></a></li>
          </ul>
        </div>
        <div class="details col-md-6">
          <h3 class="product-title"><%= @product.name %></h3>
          <div class="rating">
            <div class="stars">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
            <span class="review-no"></span>
          </div>
          <h5 class="product-description"><%= @product.description %></h5>
          <h4 class="price"><%= t ".price_text" %>
          <span>
            <%= number_to_currency @product.price %>
          </span></h4>
          <h4 class="sizes">
            <%= t ".inventory_text" %>
            <%= @product.inventory %>
          </h4>
          <p>
          <%= form_tag carts_path(product_id: @product.id), method: :post do %>
            <div class="pull-left">
              <h4 class="colors"><%= t ".quantity_text" %></h4>
              <%= number_field_tag :quantity, Settings.minimum_value,
                min: Settings.minimum_value, class: "form-control" %>
              <%= submit_tag t("add_to_cart"), class: "add-to-cart btn btn-default" %>
            </div>
          <% end %>
          </p>
          <div class="action">
            <%= link_to t(".edit_link"), edit_admin_product_path(@product),
              class: "edit-product btn btn-default" if can_edit? %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
