<% provide :title, @product.name %>
<div class="row">
  <aside class="col-md-4">
    <section class="product_info">
      <h1>
        <%= @product.name %>
        <ul>
          <li><%= @product.description %></li>
          <li><%= t("product_price", price: @product.price) %></li>
          <% if can_delete? @user %>
            <li>
              <%= link_to t("delete"), admin_product_path(@product), method: :delete, data: {confirm: t("you_sure")} %>
            </li>
          <% end %>
          <% @product.images.each do |image| %>
            <%= image_tag image.url.to_s %>
          <% end %>
        </ul>
      </h1>
    </section>
  </aside>
</div>
